<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>My Courses</h3>
        <a href="/me/trash/courses">Garbage can ({{deletedCount}})</a>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
                <label class="form-check-label" for="checkbox-all">
          Select All
        </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">---Options---</option>
        <option value="delete">Delete</option>
      </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Apply</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]" />
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}.</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>

                <td>
                    <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-link">Modify</a>
                    <a href="" type="button" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    You have not posted any courses yet!
                    <a href="/courses/create">Create Course</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm }}
<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-course">Yeah!!!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

{{! Delete hide }}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var courseID;
        var
            deleteForm = document.forms["delete-course-form"];
        var btnDeleteCourse =
            document.getElementById('btn-delete-course');
        var checkboxAll =
            $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        // var containerForm =
        //     document.forms['container-form'];
        var containerForm = $('form[name = "container-form"]');
        $('#delete-course-modal').on('show.bs.modal', function(event) {
            var button =
                $(event.relatedTarget);
            courseID = button.data('id');
        });
        btnDeleteCourse.onclick = function() {
            deleteForm.action = '/courses/' +
                courseID + '?_method=DELETE';
            deleteForm.submit();
        };
        checkboxAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });
        courseItemCheckbox.change(function() {
            var isCheckedAll =
                courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        });



        //Render Check All submit btn
        function renderCheckAllSubmitBtn() {
            var checkedCount =
                $('input[name="courseIds[]"]:checked').length;
            if (checkedCount) {
                checkAllSubmitBtn.attr('disabled', false)
            } else {
                checkAllSubmitBtn.attr('disabled', true)
            };
        }
    });
</script>